<!-- Optimyser Script -->
<script>
(function(){
  var days = 360;
  var id='{{ experiment.key().name() }}';
  var createCookie = function(name,value) {
    if (days) {
      var date = new Date();
      date.setTime(date.getTime()+(days*24*60*60*1000));
      var expires = "; expires="+date.toGMTString();
    }
    else var expires = "";
    document.cookie = name+"="+value+expires+"; path=/";
  };
  var readCookie = function(name) {
  	var nameEQ = name + "=";
  	var ca = document.cookie.split(';');
  	for(var i=0;i < ca.length;i++) {
  		var c = ca[i];
  		while (c.charAt(0)==' ') c = c.substring(1,c.length);
  		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
  	}
  	return null;
  };

  var id = "{{ experiment.key().name() }}";
  var exp_id = readCookie("opt_e");
  var exp_index = readCookie("opt_i");
  var visited = readCookie(exp_id);

  if (exp_id && exp_index && visited) {
    if (visited == 'g') {
      return;
    }
    if (visited != exp_index) {
      return;
    }
    var g = document.createElement('script');
    g.type = 'text/javascript';
    g.async = true;
    g.src = '//{{ request.host }}{{ reverse_url("conversion") }}?e=' + id +
            '&s=' + exp_index;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(g, s);
    createCookie(id, 'g');
  }
})();
</script>
<!-- End of Optimyser Script -->